body{
    font-family: 'Poppins', sans-serif;
}

header{
    /* height: 100vh; */
    margin-bottom: 100px;
}
/* navbar */
.nav-menu {
    /* background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)); */
    background: #333333;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    transition: all .7s;
}
.menu-item:active {
    color: #FF4400;
}

.menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    transition: color .5s;
}

.menu-item:hover {
    color: #FF4400;
}

.btn-color{
    color: white;
    /* border: 1px solid #FF3465; */
    border-radius: 0;
    transition: all .3s;
    background: #FF4400;
    width: 120px;
}

.btn-color:hover{
    background-color: transparent;
    color: white;
    border: 1px solid #FF4400;
    /* font-size: 17px; */
}

.btn-color-2{
    color: white;
    /* border: 1px solid #FF3465; */
    border-radius: 0;
    transition: all .3s;
    background: #FF4400;
    /* width: 100px; */
}

.btn-color-2:hover{
    /* background-color: transparent; */
    /* color: white; */
    /* border: 1px solid #FF4400; */
    /* font-size: 17px; */
    transform: translateY(-1px);
}

.line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
    color: #FF4400;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}  

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* end of navbar */

/* form */
.form-field{
    border-radius: 0;
    border: 1px solid grey;
}

.form-field:focus{
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #FF4400;
}

#timepicker:before {
    content:'Time:';
}
/* end of form */

.address-input{
    border-radius: 0;
    border: 1px solid #FF4400;
    background: transparent;
    /* border-bottom: 1px solid #FF4400; */
}

.address-input:focus{
    box-shadow: none;
    /* background: transparent; */
    border: 1px solid #FF4400;
}
.sub-button{
    background: #FF4400;
    border-radius: 0;
    color: white;
    /* border: 1px solid #FF4400; */
}

.sub-button:hover{
    background: white;
    color: #FF4400;
}


.pad{
    /* padding-left: 70px; */
}







@media only screen and (max-width: 600px) {
    .nav-menu{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .btn-color{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .pad{
        /* padding-left: 0px; */
    }
}

@media only screen and (max-width: 300px) {
    .nav-menu{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}